<div class="homepage-jumbo center">
	<%= image_tag "ice-tea.jpg" %>
	<h1>Before all else, Be an Earth Lover!</h1><br>
	<button type="button" class="btn btn-info btn-lg">Learn How</button>
	<hr>
</div>
<div class="homepage-container clear">
	<div class="hompage-about-1">
		<%= image_tag "tea-color.jpg" %>
		<h2>bae is an ambrosial, zero calorie tea brewed from organically ingredients.</h2>
	</div>
</div>