<div class="homepage-jumbo clear">
	<%= image_tag "ice-tea.jpg" %>
	<h1>Before all else, Be an Earth Lover!</h1><br>
	<%= button_to "Learn How", serve_path, method: "get", class: "btn btn-lg btn-info" %>
	<hr>
</div>
	<div class="intro clear">
		<div class="intro-text">
			<h1>What makes bae™ unique?</h1>
			<br>
			<h4>It's quite simple really:</h4>
			<br>
			<p>bae™ is an ambrosial, zero calorie, real brewed fresh tea- a testament of our unwavering commitment to bae’s philosophy.</p>
			<p>Additionally, our patented technology <strong>eliminates 95%</strong> environmental impact over standard beverages.</p>
			<br>
			<%= link_to "Learn More!", planet_path %>
		</div>
		<div class="intro-img">
			<%= image_tag "orange.jpg" %>
		</div>
	</div>


<div class="homepage-jumbo-2 clear">
	<div class="green-hr"></div>
	<div class="slogan">
		<h3 style="text-align: center">bae is changing the world, one glass at a time. <br>real brewed fresh tea. &nbsp; <span class="glyphicon glyphicon-leaf" style="color: #519548;"></span></h3>
	</div>
	<div class="green-hr-2"></div>
</div>