<div class="planet-container clear">
	<div class="coaster">
		<%= image_tag "coaster1.png" %>
	</div>
	<div class="coaster">
		<%= image_tag "coaster2.png" %>
	</div>
</div><!-- Planet Container -->

	<div class="green-hr"></div><div class="green-hr-2"></div>

<div class="planet-container-2 clear">
	<h1>Planet bae</h1>
	<br>
	<p>Our ambrosial, zero calorie, carefully selected, real brewed fresh teas are a testament to our unwavering commitment to bae’s philosophy.
		<br><br>
	A meticulous adherence to sustainable ingredients, eco-friendly packaging, and carbon efficient distribution means we are able to eliminate 95% of the environmental impact over standard beverages.
		<br><br>
	So come, unwind with taste. Our selection of ethereal flavours, taken directly from nature and mixed FRESH into your glass, is guaranteed to leave you feeling refreshed and guilt-free!</p>

	<%= image_tag "serving.jpg" %>
</div>

<div class="green-hr"></div>
<div class="homepage-jumbo-2 clear">
	<br><br><br>
	<h2 class="center">Follow our Instagram @Planetbae</h2>
	<!-- SnapWidget -->
	<script src="http://snapwidget.com/js/snapwidget.js"></script>
	<iframe src="http://snapwidget.com/in/?u=cGxhbmV0YmFlIHxpbnwxMjV8OHwzfHxub3w1fGZhZGVJbnxvblN0YXJ0fHllc3x5ZXM=&ve=190814" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
	<h2 class="center">Follow our Twitter @Planet_bae</h2>
		<br>
		<div class="twitter">
		<a class="twitter-timeline" href="https://twitter.com/planet_bae" data-widget-id="501853390389800961">Tweets by @planet_bae</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div>
</div>