<div class="servepage-jumbo clear">
	<%= image_tag "serve-bg.jpg" %>	
	<div class="slogan">
		<h3><span style="color: #CBE86B;">better</span> tasting iced tea</h3>
		<h3>fixed price & substantially <span style="color: #519548;">lower<span> logistical costs</h3>
		<h3>once a month changing of <span style="color: #CBE86B;">BIBS</span></h3>
		<h3><span style="color: #519548;">unlimited</span> tea servings</h3>
		<h3>flat <span style="color: #CBE86B;">monthly</span> subscription</h3>
	</div>
</div>

<div class="servepage-jumbo-2 clear">
	<div class="green-hr"></div>
	<div class="green-hr-2"></div>
	<%= image_tag "tea.jpg" %>
	<h3>bae's innovative subscription model:</h3>
	<p>No Purchasing. No Inventory. No Reordering. No Hassles.</p>
	<h3>bae in action:</h3>
	<p>A restaurant uses 3 Bag-In-Box Syrup (BIBS) of Iced Tea per week, approximately 14 Three Gallon BIBS per month.</p>
	<p>On average this restaurant used to spend $560-$650 on Iced Tea per month. This cost did not factor in additional logistical costs- procurement, shipping, storage, labor and waste to name a few. </p>
	<p>A SINGLE bae One Gallon BIBS could match a month’s worth of drinks provided by the standard Iced Tea BIBS used by the restaurant.</p>
</div>