@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Amatic+SC);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(http://fonts.googleapis.com/css?family=Special+Elite);


/* Navbar */
.navbar-bg {
	width: 100%;
	position: fixed;
	z-index: 500;
	padding-bottom: -10px;
	background-color: #FFF;
}

.navbar-container {
	width: 80%;
	margin: auto;
	color: #BDBDBD;
}

.navbar-container a {
	margin: 2%;
	padding: 5px;
	color: #585858;
	letter-spacing: 2px;
}

.navbar-container a:hover {
	color: #F6AB54;
}

/* Homepage */

.homepage-jumbo {
	width: 80%;
	padding-top: 215px;
	margin: auto;
}

.homepage-jumbo img {
	max-width: 100%;
	height: auto;
	opacity: 0.8;
	text-align: center;
}

.homepage-jumbo h1 {
	font-size: 95px;
	color: #FFF;
	position: relative; 
	text-align: center;
	top: -290px;
	font-family: 'Amatic SC', cursive;
}

.homepage-jumbo form {
	position: relative;
	text-align: center;
	top: -280px;
}

.homepage-jumbo-2 {
	width: 80%;
	margin: auto;
	position: relative;
	top: -50px;
}

.intro {
	width: 80%;
	margin: auto;
	position: relative;
	text-align: left;
	color: #666666;
	top: -50px;
}

.intro-text {
	width: 60%;
	float: left; 
	display: inline-block;
}

.intro h1 {
	text-align: left;
	font-size: 58px;
	font-family: 'Special Elite', cursive;
}

.intro p {
	font-size: 15px;
}

.intro a {
	color: #F6AB54;
	font-size: 15px;
}

.intro a:hover {
	color: #F5C58F;
}

.intro-img {
	width: 40%;
	float: left;
	text-align: right;
	display: inline-block;
}

.green-hr {
	background-color: #CBE86B;
	width: 80%;
	height: 10px;
	position: relative;
	margin: auto;
}

.green-hr-2 {
	background-color: #519548;
	width: 80%;
	height: 10px;
	margin: auto;
	position: relative;
}

.slogan {
	text-align: left;
	font-size: 50px;
	position: relative; 
	width: 100%;
	padding: 55px 0 0px 5%;
}

.slogan h3 {
	font-size: 50px;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.5em;
}

/* footer */

.footer-hr {
	width: 80%;
	margin: auto;
	background-color: #E6E6E6;
	height: 1.5px;
}
.footer-container {
	padding: 50px 0;
	width: 80%;
	margin: auto;
}

.footer-item {
	margin: 0;
	width: 33%;
	text-align: center;
	float: left;
	display: inline-block;
}

.footer-item p {
	color: #A4A4A4;
	font-size: 18px;
}

.footer-item a img {
	float: left;
	display: inline-block;
	margin: 5px;
}

.middle{
	width: 35%;
	padding-left: 5%;
	margin: auto;
	text-align: center;
}

/* serve */

.servepage-jumbo {
	width: 80%;
	padding-top: 215px;
	margin: auto;
}

.servepage-jumbo img {
	max-width: 100%;
	height: auto;
	opacity: 1;
	border: 2px solid #8EC2C0;
	text-align: center;
}

.why {
	width: 100%;
	background-color: #E8D3B8;
	padding-top: 15px;
	padding-bottom: 35px;
}


.why h1 {
	text-align: left;
	font-size: 65px;
	font-family: 'Special Elite', cursive;
	padding-left: 35px;
}

.why img {
	width: 30%;
	margin: 10px;
	height: auto;
	border: none;
}

.why p {
	text-align: left;
	font-size: 15px;
	padding-left: 35px;
	width: 55%;
}

.why form {
	padding-left: 35px;
}

.slogan-serve {
	text-align: left;
	font-size: 50px;
	position: relative; 
	width: 45%;
	float: left;
	display: inline-block;
}

.slogan-serve h1 {
	margin: 60px auto;
	letter-spacing: 1px;
	font-size: 30px;
}

.slogan-serve h3 {
	font-size: 33px;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.5em;
}

.servepage-jumbo-2 {
	width: 80%;
	margin: auto;
}

.servepage-jumbo-2 img {
	width: 45%;
	height: auto;
	margin: 65px 65px 45px 0;
	float: left;
	display: inline-block;
}

.servepage-jumbo-2 h3 {
	padding-top: 40px;
	text-align: left;
}

.servepage-jumbo-2 p {
	padding: 15px;
	margin-left: 25px;
	color: #848484;
	font-size: 18px;
	text-align: left;
}

.bae-action {
	width: 50%;
}

.bae-action h1{
	font-family: 'Amatic SC', cursive;
	font-size: 85px;
	text-align: left;
	color: #519548;
}

.bae-box {
	width: 60%;
	padding-top: 45px;
	float: left;
	display: inline-block;
}

.bae-box-img {
	width: 40%;
	float: left;
	text-align: right;
	display: inline-block;
}

.bae-box-img img {
	width: 100%;
	padding: 0;
}

/* Planet */

.planet-container {
	width: 80%;
	margin: auto;
	padding-top: 215px;
	padding-bottom: 50px;
}

.coaster {
	width: 45%;
	margin: 0 25px;
	float: left;
	display: inline-block;
}

.coaster img {
	width: 100%;
	height: auto;
	opacity: 0.8;
	transition: 0.3s ease-out;
}

.coaster img:hover {
	opacity: 1;
}

.planet-container-2 {
	width: 80%;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.planet-container-2 p {
	width: 50%;
	color: #848484;
	font-size: 16px;
	float: left;
}

.planet-container-2 h1 {
	font-family: 'Special Elite', cursive;
	font-size: 65px;
}

.planet-container-2 img {
	float: left;
	width: 45%;
	margin: 0px 0 0 45px;
	position: relative;
	top: -95px;
	height: auto;
	display: inline-block;
}

/* Contact */

.contact-container {
	width: 80%;
	margin: auto;
	padding-top: 215px;
}