@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Amatic+SC);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);


/* Navbar */
.navbar-bg {
	width: 100%;
	position: fixed;
	z-index: 500;
	padding-bottom: -10px;
	background-color: #FFF;
}

.navbar-container {
	width: 80%;
	margin: auto;
	color: #BDBDBD;
}

.navbar-container a {
	margin: 2%;
	padding: 5px;
	color: #585858;
	letter-spacing: 2px;
}

.navbar-container a:hover {
	color: #8EC2C0;
}

/* Homepage */

.homepage-jumbo {
	width: 80%;
	padding-top: 185px;
	margin: auto;
}

.homepage-jumbo img {
	max-width: 100%;
	height: auto;
	opacity: 0.8;
	border: 2px solid #8EC2C0;
	text-align: center;
}

.homepage-jumbo h1 {
	font-size: 95px;
	color: #FFF;
	position: relative; 
	text-align: center;
	top: -290px;
	font-family: 'Amatic SC', cursive;
}

.homepage-jumbo form {
	position: relative;
	text-align: center;
	top: -280px;
}

.homepage-jumbo-2 {
	width: 80%;
	margin: auto;
	position: relative;
	top: -50px;
}
.homepage-about-1 {
	position: relative;
	width: 55%;
	float: left;
	display: inline-block;
}

.homepage-about-1 img {
	border: 2px solid #8EC2C0;
	position: relative;
	top: -120px;
	width: 100%;
	opacity: 1;
	margin: 0;
}

.homepage-about-2 {
	width: 40%;
	float: right;
	display: inline-block;
}

.homepage-about-2 img {
	border: 2px solid #8EC2C0;
	opacity: 1;
	position: relative;
	top: -120px;
	margin: 0;
	width: 100%;
}

.homepage-about-3 {
	width: 40%;
	float: right;
}

.homepage-about-3 img {
	border: 2px solid #8EC2C0;
	opacity: 0.8;
	position: relative;
	margin: 0;
	width: 100%;
	top: -100px;
}

.homepage-about-3 h3 {
	color: #FFF;
	font-family: 'Amatic SC', cursive;
	font-size: 60px;
	text-align: center;
	position: relative;
	top: -200px;
	letter-spacing: 10px;
	margin-bottom: -200px;
}

.green-hr {
	background-color: #CBE86B;
	width: 100%;
	height: 10px;
	position: relative;
}

.green-hr-2 {
	background-color: #519548;
	width: 100%;
	height: 10px;
	position: relative;
}

.slogan {
	text-align: left;
	font-size: 50px;
	position: relative; 
	width: 100%;
	padding: 55px 0 55px 5%;
}

.slogan h3 {
	font-size: 50px;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.5em;
}

/* footer */

.footer-hr {
	width: 80%;
	margin: auto;
	background-color: #E6E6E6;
	height: 1.5px;
}
.footer-container {
	padding: 50px 0;
	width: 80%;
	margin: auto;
}

.footer-item {
	margin: 0;
	width: 33%;
	text-align: center;
	float: left;
	display: inline-block;
}

.footer-item p {
	color: #A4A4A4;
	font-size: 18px;
}

.footer-item a img {
	float: left;
	display: inline-block;
	margin: 5px;
}

.middle{
	width: 35%;
	padding-left: 5%;
	margin: auto;
	text-align: center;
}

/* serve */

.servepage-jumbo {
	width: 80%;
	padding-top: 185px;
	margin: auto;
}

.servepage-jumbo img {
	max-width: 100%;
	height: auto;
	opacity: 1;
	border: 2px solid #8EC2C0;
	text-align: center;
}

.servepage-jumbo-2 {
	width: 80%;
	margin: auto;
}

.servepage-jumbo-2 img {
	width: 45%;
	height: auto;
	margin: 65px 65px 45px 0;
	float: left;
	display: inline-block;
}

.servepage-jumbo-2 h3 {
	padding-top: 40px;
	text-align: left;
}

.servepage-jumbo-2 p {
	padding: 15px;
	margin-left: 25px;
	color: #848484;
	font-size: 18px;
	text-align: left;
}

.bae-action {
	margin-top: -15px;
	width: 100%;
}

.bae-action h1{
	font-family: 'Amatic SC', cursive;
	font-size: 85px;
	text-align: center;
	color: #519548;
}

.bae-box {
	width: 33.33%;
	float: left;
	display: inline-block;
	margin: 0;
	height: 275px;
	overflow: hidden;
}

.bae-box img {
	width: auto;
	height: 100%;
	opacity: 0.5;
	margin: 0;
}

.bae-box-overlay h2 {
	font-size: 28px;
	color: #2E2E2E;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
}

.bae-box-overlay-2 h2 {
	font-size: 28px;
	color: #2E2E2E;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
}

.bae-box-overlay-3 h2 {
	font-size: 28px;
	color: #2E2E2E;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
}

.bae-box-overlay {
	width: 33.33%;
	float: left;
	display: inline-block;
	margin: 0 0 -270px 0;
	height: 275px;
	overflow: hidden;
	padding: 45px 15px;
	position: relative;
	top: -275px;
}

.bae-box-overlay-2 {
	width: 33.33%;
	float: left;
	display: inline-block;
	margin: 0 0 -270px 0;
	height: 275px;
	overflow: hidden;
	padding: 75px 15px;
	position: relative;
	top: -275px;
}


.bae-box-overlay-3 {
	width: 33.33%;
	float: left;
	display: inline-block;
	margin: 0 0 -270px 0;
	height: 275px;
	overflow: hidden;
	padding: 45px 15px;
	position: relative;
	top: -275px;
}
