/* Cross browser compatibility */

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }

/* Improved Link styling */

a {

	text-decoration: none;
	color: #08C;
	transition: all 0.3s ease-out;
}

a:hover {

	color: #0AF;
	background-color: transparent;
	text-decoration: none;
}

.btn {
    text-align: inherit;
}
/* Tools */

.center { text-align: center;}

.right { text-align: right;}

.left { text-align: left;}

.justify { text-align: justify; }

.float-left {	float: left;}

.float-right {	float: right;}

.bold { font-weight: bold;}

.clear:before, 
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

.center-page {
	width: 78%;
	margin: auto;
}

.hide {
	display: none;
}

.hidden {
	visibility: hidden;
}

.vertical-hr {
    width: 1px; 
    height: 465px;
    background-color: #D8DADC;
    float: left;
    display: inline-block;
    margin-top: 60px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 35px;
}

hr {
    padding: 0;
    border: none;
    border-top: medium double #585858;
    color: #585858;
    text-align: center;
    width: 100%;
    position: relative;
    top: -155px;
}
hr:after {
    content: "§";
    display: inline-block;
    position: relative; 
    top: -0.7em;  
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}