<div class="footer-hr"></div>
<div class="footer-container clear">
	<div class="footer-item">
		<p>Reach out to us!</p>
		<p style="color: #F6AB54;">info@planetbae.com</p>
	</div>

	<div class="footer-item">
		<p>Follow the Planet bae revolution!</p>
		<div class="middle">
			<%= link_to (image_tag "f.jpg"), '#' %>
			<%= link_to (image_tag "t.jpg"), '#' %>
			<%= link_to (image_tag "i.jpg"), '#' %>
		</div>
	</div>

	<div class="footer-item">
		<p style="color: #F6AB54;">bae™ © 2014.</p><p>All rights reserved.</p>
	</div>

</div>